/* 
 COLOR PALETTE
 background-yellow: #f7ffdd
 light-yellow: #fcfdaf
 aqua: #a9f0d1
 mustard: #efd780
 magenta: #ff5d73;
 */

body {
  font-family: 'Nunito Sans', sans-serif; 
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #efd780;
  color: black;
}

.topnav a.active {
  background-color: #efd780;
  color: black;
}
