
/* 
 COLOR PALETTE
 background-yellow: #f7ffdd
 light-yellow: #fcfdaf
 aqua: #a9f0d1
 mustard: #efd780
 magenta: #ff5d73;
 */

body {
  font-family: 'Nunito Sans', sans-serif; 
  background-color: #f7ffdd;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 90%;
  border-radius: 10px;
}

.topnav a {
  float: left;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fcfdaf;
  color: black;
}

.topnav a.active {
  background-color: #ff5d73;
  color: white;
  font-weight: bold;
}
