
/* 
 COLOR PALETTE
 background-yellow: #f7ffdd
 light-yellow: #fcfdaf
 aqua: #a9f0d1
 mustard: #efd780
 magenta: #ff5d73;
 */


body {
  font-family: 'Futura', sans-serif; 
  background-color: #f7ffdd;
}

h1 {
  font-family: 'Futura';
  color: white;
}

.terminal_banner {
  font-family: Menlo;
  font-size: 16px;
  color: white;
}

.sidenav {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
